/* optional body styling */
body {
    /* background-color: lightblue; */
    font-family: Arial, Helvetica, sans-serif;
}

/* parent element */
.container {
    display: grid;
    /* height: 100vh; */
    grid-template-columns: 3fr 1fr;
    /* grid-template-rows: 2fr 1fr 2fr 2fr; */
}

/* child elements */
header {
    /* grid layout */
    grid-row: 1;
    grid-column: 1/3;
    /* styling */
    background-color: lightgray;
}
nav {
    /* grid layout */
    grid-row: 2;
    grid-column: 1/3;
    /* styling */
    background-color: lightblue;
}
article {
    /* grid layout */
    grid-row: 3;
    grid-column: 1/2;
    /* styling */
    background-color: lightgray;
}
aside {
    /* grid layout */
    grid-row: 3;
    grid-column: 2;
    /* styling */
    background-color: lightgray;
}

footer {
    /* grid layout */
    grid-row: 4;
    grid-column: 1/3;
    /* styling */
    background-color: lightgray;
}

/* styling for all child elements */
.container > * {
    border: 1px solid gray;
    margin: 5px;
    padding: 1%;
}

/* styling for nav bar items */
h4 {
    display: inline;
    text-decoration: underline;
    color: gray;
}